[Desktop Entry]
Name=CrystalBliss(based off of materia-dark and OSX)
X-KDE-PluginInfo-Author=Adam Fazil
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=p.adamfazil@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=CrystalBliss
X-KDE-PluginInfo-Version=1.0
