[Unit]
Description=Keep Dock running
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=cairo-dock

[Install]
WantedBy=multi-user.target suspend.target hibernate.target sleep.target

